<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Edit Medication</title>
    <link rel="stylesheet" href="/css/styles.css"> </head>
<body>
<h1>Edit Medication</h1>

{{#medication}}
<form action="/medications/update/{{id}}" method="post" enctype="multipart/form-data">
    <input type="hidden" name="id" value="{{id}}">

    <div>
        <label for="name">Nombre:</label>
        <input type="text" id="name" name="name" value="{{name}}" required>
    </div>
    <div>
        <label for="stock">Existencias:</label>
        <input type="number" id="stock" name="stock" value="{{stock}}" step="any" required>
    </div>
    <div>
        <label for="instructions">Instrucciones:</label>
        <textarea id="instructions" name="instructions" required>{{instructions}}</textarea>
    </div>
    <div>
        <label for="dose">Dosis:</label>
        <input type="number" id="dose" name="dose" value="{{dose}}" step="any" required>
    </div>

    {{#imagePath}}
        <div>
            <p><strong>Imagen:</strong></p>
            <input type="checkbox" id="deleteExistingImage" name="deleteExistingImage" value="true">
            <label for="deleteExistingImage">¿Quiere borrar la imagen actual?</label>
            <br><br>
        </div>
    {{/imagePath}}

    <div>
        <label for="imageFile">Nueva imagen:</label>
        <input type="file" id="imageFile" name="imageFile" accept="image/*">
        <p><small>Si has marcado la casilla de arriba, selecciona la nueva imagen.</small></p>
    </div>
    <div>
        <button type="submit">Editar</button>
    </div>
</form>
<br>
<a href="/medications/list">Volver</a> |
<a href="/medications/{{id}}">Detalles</a>
{{/medication}}
</body>
</html>
