<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Detalles</title>
    <link rel="stylesheet" href="/css/styles.css"> </head>
<body>
<h1>Detalles de la medicación</h1>
{{#medication}}
<p><strong>Nombre:</strong> {{name}}</p>
<p><strong>Existencias:</strong> {{stock}}</p>
<p><strong>Instrucciones:</strong> {{instructions}}</p>
<p><strong>Dosis:</strong> {{dose}}</p>
<p><strong>Imagen:</strong></p>
{{#imagePath}}
    <img src="/uploads/{{imagePath}}" alt="Imagen de la medicacion">
{{/imagePath}}
{{^imagePath}}
    <p>Imagen no disponible.</p>
{{/imagePath}}
{{/medication}}
<br><br>
<a href="/medications/">Volver</a>
</body>
</html>
