<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Editar Tratamiento</title>
    <link rel="stylesheet" href="/css/base.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/login_register.css"> <link rel="stylesheet" href="/css/treatment_form.css"> </head>
<body>
{{> header}} <h1>Editar Tratamiento</h1>

<div class="form-container">
    {{#treatment}}
        <form action="/treatments/update/{{id}}" method="post">
            <input type="hidden" name="id" value="{{id}}">

            <div>
                <label for="name">Nombre del Tratamiento:</label>
                <input type="text" id="name" name="name" value="{{name}}" maxlength="50" required>
            </div>

            <div>
                <label for="startDate">Fecha de Inicio:</label>
                <input type="datetime-local" id="startDate" name="startDate" value="{{startDate}}" required>
            </div>

            <div>
                <label for="endDate">Fecha de Finalización:</label>
                <input type="datetime-local" id="endDate" name="endDate" value="{{endDate}}" required>
            </div>

            <div>
                <label for="dispensingFrequency">¿Con qúe frecuencia repites el tratamiento? (En horas):</label>
                <input type="number" id="dispensingFrequency" name="dispensingFrequency" value="{{dispensingFrequency}}" step="1" min="0" required>
            </div>

            <div class="form-group checkbox-group">
                <label>Medicamentos incluidos:</label>
                {{^medicationDTOs}}
                    <p class="no-meds-available">No hay medicamentos disponibles para seleccionar. <a href="/medications/new">Añadir uno ahora</a>.</p>
                {{/medicationDTOs}}
                {{#medicationDTOs}}
                    <div class="checkbox-item">
                        <input type="checkbox" id="medication_{{id}}" name="medicationIds" value="{{id}}" {{#selected}}{{checked}}{{/selected}}>
                        <label for="medication_{{id}}">{{name}}</label>
                    </div>
                {{/medicationDTOs}}
            </div>

            <div class="form-actions">
                <button type="submit" class="action-button primary-button">Guardar Cambios</button>
                <a href="/treatments/" class="action-button secondary-button">Cancelar</a>
            </div>
        </form>
    {{/treatment}}
</div>
</body>
</html>
