<header class="main-header">
    <div class="header-content">
        <a href="/" class="header-logo">HealthCareR</a>
        <nav class="main-nav">
            <ul>
                <li><a href="/medications/">Mis medicamentos</a></li>
                <li><a href="/takes/">Mi historial de tomas</a></li>
                <li><a href="/logout">Cerrar sesión</a></li>
            </ul>
        </nav>
    </div>
</header>
