<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HealthCareR - Welcome</title>
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
<div class="container">
    <h1>Welcome to HealthCareR!</h1>
    <p>Your personal assistant for managing medications and treatments.</p>

    <div class="navigation-links">
        <p><a href="/medications/">My Medications</a></p>
    </div>
</div>
</body>
</html>
